{% extends "layout.html" %}
{% block content %}

<br>

<form method="POST" class="px-3">
     <div class="text text-primary">
        <h4><b>Ask a question</b></h4><br>
    </div>
    {% csrf_token %}
    <div class="form-group">
        <label for="question">Question:</label>
        <input type="text" id="question" name="question" class="form-control" placeholder="E.g., Who has the maximum amount in wallet?">
    </div>
    <button type="submit" name="submit_bot" value="submitted" class="btn btn-success">Submit</button>
    <p>{{ answer }}</p>
</form>

{% endblock %}
